<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 10px"
            role="progressbar"
            [style.width]="getProgressValue1"
          ></div>
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 10px"
            role="progressbar"
            [style.width]="getProgressValue2"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-handler
          (handleOutputValue)="progressValue1 = $event"
          [progressValue]="progressValue1"
        ></app-handler>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-handler
          (handleOutputValue)="progressValue2 = $event"
          [progressValue]="progressValue2"
          [btnClass]="'btn btn-info'"
        ></app-handler>
      </div>
    </div>
  </div>
</div>
