<div class="modal-bg" [class.hidden]="modalService.toggleModal">
  <div
    class="modal fade show"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    style="display: block"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Load Images</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            (click)="closeModal()"
          >
            ×
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img
              *ngIf="!tempImage"
              [src]="tempImage"
              alt="avatar"
              class="img-avatar"
              [src]="modalService.image"
            />

            <img
              *ngIf="tempImage"
              [src]="tempImage"
              alt="avatar"
              class="img-avatar"
            />
          </div>

          <input type="file" class="mt-2" (change)="handleImage($event)" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger waves-effect text-left"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger waves-effect text-left"
            data-dismiss="modal"
            (click)="uploadImage()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
