<div class="modal-bg" [class.hidden]="showModal">
  <div
    class="modal fade show"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    style="display: block"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Load Images</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            (click)="handleModal()"
          >
            ×
          </button>
        </div>
        <div class="modal-body">
          <h3>Select an image</h3>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger waves-effect text-left"
            data-dismiss="modal"
            (click)="handleModal()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger waves-effect text-left"
            data-dismiss="modal"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
