<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Profile</h4>
        <h6 class="card-subtitle">Settings</h6>
        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (submit)="updateProfile()"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
                formControlName="email"
              />
            </div>
          </div>
          <button
            type="submit"
            [disabled]="profileForm.invalid"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">User image</h6>

        <div class="text-center">
          <img
            *ngIf="!tempImage"
            [src]="user?.imageUrl"
            alt="avatar"
            class="img-avatar"
          />
          <img
            *ngIf="tempImage"
            [src]="tempImage"
            alt="avatar"
            class="img-avatar"
          />
        </div>

        <input type="file" class="mt-2" (change)="handleImage($event)" />

        <br />
        <br />

        <button
          type="button"
          class="btn btn-success btn-block waves-effect waves-light m-r-10"
          [disabled]="!image"
          (click)="uploadImage()"
        >
          <i class="fa fa-save"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</div>
