<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          placeholder="Search by users..."
          class="form-control"
          #search
          (keyup)="handleSearch(search.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading...</h4>
      <i class="fa fa-spin fa-refresh"></i>
      <p class="mb-0">Please wait...</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total {{ total }}</h4>
        <h6 class="card-subtitle">
          Register new users and manage their roles and permissions
        </h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Email</th>
                <th>Name</th>
                <th style="width: 140px">Role</th>
                <th>Auth</th>
                <th class="text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <img
                    [src]="user.imageUrl"
                    alt="Avatar"
                    class="avatar"
                    (click)="openModal(user)"
                  />
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  {{ user.name }}
                </td>
                <td>
                  <select
                    class="form-control"
                    [(ngModel)]="user.role"
                    (change)="handleChangeRole(user)"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span *ngIf="user.google" class="label label-danger"
                    >Google</span
                  >
                  <span *ngIf="!user.google" class="label label-info"
                    >Email</span
                  >
                </td>
                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    (click)="handleDeleteUser(user)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="search.value.length === 0">
          <button (click)="handleChangePage(-5)" class="btn btn-secondary">
            Previous
          </button>
          &nbsp;
          <button (click)="handleChangePage(5)" class="btn btn-secondary">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
